<div>
    <md-input-container class="md-block" flex>
        <label>CKAN Action API URL</label>
        <input type="url" ng-model="dialog.apiUrl" placeholder="http://localhost/api/3/action">
    </md-input-container>
    <md-input-container class="md-block" flex>
        <label>CKAN API Key</label>
        <input ng-model="dialog.apiKey" placeholder="00000000-0000-0000-0000-000000000000">
    </md-input-container>
    <md-switch ng-model="dialog.purgeAllDatasets">
        Purge all datasets
    </md-switch>
    <md-switch ng-model="dialog.purgeAllOrganizations">
        Purge all organizations
    </md-switch>
    <md-switch ng-model="dialog.failOnError">
        Fail on error
    </md-switch>
</div>