<md-input-container class="md-block" flex-gt-sm>
    <label>Dataset REST API URL</label>
    <input type="url" ng-model="dialog.apiUrl" required placeholder="http://localhost/api/dataset">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
    <label>Username</label>
    <input ng-model="dialog.username" required placeholder="username">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
    <label>Password</label>
    <input ng-model="dialog.password" required type="password" placeholder="password">
</md-input-container>
